@tailwind base;
@tailwind components;
@tailwind utilities;

.logout-dropdown {
  display: none;
}

.profile:hover .logout-dropdown {
  display: block;
}

.MuiAccordionSummary-content {
  margin: 8px 0 !important;
}

.MuiAccordionDetails-root {
  padding: 0 0 8px 0 !important;
}
